# Gradle
.gradle/
build/
/build/classes/java/main/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# Laufzeit und Logs (Minecraft)
run/
logs/
crash-reports/
usercache.json
usernamecache.json
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/
.factorypath

# OS spezifisch
.DS_Store
Thumbs.db
